{% extends '@App/base.html.twig' %}
{% block title %}{{ 'My views' }}{% endblock %}

{% block body %}
    <h3>Category: <code>{{ category.name }}</code></h3>
    <hr>
    {{ wo_render_breadcrumbs() }}
    <div>
        {% for post in posts %}
            <div class="list-group">
                <div class="list-group-item list-group-item-primary"><h2>{{ post.title }}</h2></div>
                <div class="list-group-item">
                    <p>{{ post.content }}</p>
                    <p>
                        <span><code class="category_label">{{ post.category.name }}</code></span>
                        <a class="btn btn-primary pull-right" href="{{ path('show_post', {'id': post.id}) }}"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Read more</a>
                    </p>
                </div>
            </div>
            <br>
        {% endfor %}
    </div>
{% endblock %}