{% extends 'base.html.twig' %}
{% block body %}
    <div class="list-group">
        <div class="list-group-item active"><h2>{{ post.title }}</h2></div>
            <div class="list-group-item">
                <h4>{{ post.content }}</h4>
                <code class="category_label">{{ post.category.name }}</code>
                {% if is_granted('ROLE_ADMIN') %}
                    <div class="right">
                        <a href="{{ path('delete_post', {'id': post.id}) }}"><button type="button" class="btn btn-danger pointer"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i> Delete</button></a>
                        <a href="{{ path('edit_post', {'id': post.id}) }}" class="btn btn-primary pointer"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i> Edit</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ render(controller('AppBundle\\Controller\\CommentController::commentForm', {'id': post.id})) }}
    {% endif %}
{% endblock %}