<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
            <link rel="stylesheet" href="{{ asset('vendor/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block header %}
            <header>
                <nav  class="navbar navbar-expand navbar-dark bg-dark">
                    <a class="navbar-brand" href="{{ path('homepage') }}" style="float: right">Bloger</a>

                    <div class="collapse navbar-collapse" id="navbarsExample02">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="{{ path('create_post') }}" >Create post <span class="sr-only">(current)</span></a>
                            </li>
                        </ul>
                        <a href="#">
                        <button type="button" class="btn btn-primary login">Sign in</button>
                        </a>
                        <a href="#">
                            <button type="button" class="btn btn-primary login">Sign up</button>
                        </a>
                    </div>
                </nav>
            </header>
            <br>
        {% endblock %}

        <div class="container-fluid">
            <div class="row">
                {% block category %}
                    <nav class="col-sm-3 col-md-2 sidebar">
                        <div class="list-group">
                            {% for category in categories %}
                                <a href="{{ path('category', {'categoryId': category.id }) }}" class="list-group-item list-group-item-action">{{ category.name }}</a>
                            {% endfor %}
                        </div>
                    </nav>
                {% endblock %}
                <div class="col-sm-9 ml-sm-auto col-md-10">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>



        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
            <script src="{{ asset('vendor/bootstrap/js/bootstrap.js') }}"></script>
            <script src="{{ asset('js/main.js') }}"></script>
        {% endblock %}

        {% block footer %}
            <footer>

            </footer>
        {% endblock %}
    </body>
</html>
